node_modules/
.vscode
build/mac
build/win-unpacked
build/SEC*
build/github
build/github/*
build/latest*
dist/
dist/*
dist/*/*
data/
data/*
logs/
logs/*
.DS_Store
build/.DS_Store
build/electron-builder.yaml
build/PC-Miner*
build/Setup*
biutlogs
build/preInit
ndpprivatekey