@font-face {  
  font-family: 'Lato-Bold';
  src: url('./Lato/Lato-Bold.ttf');
  font-weight: normal;  
  font-style: normal;
}
@font-face {  
  font-family: 'Lato-Light';
  src: url('./Lato/Lato-Light.woff.ttf');
  font-weight: normal;  
  font-style: normal;
}
@font-face {  
  font-family: 'Lato-Medium';
  src: url('./Lato/Lato-Medium.ttf');
  font-weight: normal;  
  font-style: normal;
}
@font-face {  
  font-family: 'Lato-Regular';
  src: url('./Lato/Lato-Regular.woff.ttf');
  font-weight: normal;  
  font-style: normal;
}
@font-face {  
  font-family: 'Montserrat-SemiBold';
  src: url('./Montserrat/MONTSERRAT-SEMIBOLD.ttf');
  font-weight: normal;  
  font-style: normal;
}
@font-face {  
  font-family: 'Montserrat-Light';
  src: url('./Montserrat/MONTSERRAT-LIGHT.WOFF.ttf');
  font-weight: normal;  
  font-style: normal;
}
@font-face {  
  font-family: 'Montserrat-Regular';
  src: url('./Montserrat/MONTSERRAT-REGULAR_0.ttf');
  font-weight: normal;  
  font-style: normal;
}

