html {font-family: "PingFang SC",Arial,sans-serif;font-size: 12px;}
body,ul,p,figure {margin: 0;padding: 0;}
ul li {list-style: none;}


.TxtColor {color: #00D6B2}
.TxtColor2 {color: #FF8DB2}
.TxtColor3 {color: #657292}

.pointerTxt:hover {cursor: pointer;}

.el-button,.el-input {font-size: 12px;}
.publicBtn {width:184px;height:36px;background: #C8D1DA;color: #fff;outline: none;border:1px solid #C8D1DA;border-radius: 4px;}
.publicBtnAcitve {background: #00D6B2;}

.publicCntBtn {display: flex;justify-content: center;}

.publicBtn:hover {cursor: pointer;}

.publicNav {display: flex;height: 50px;align-items: center;}
.icon_nav{font-size: 18px;margin-left: 16px;color:#C8D1DA;}
.icon_nav:hover {cursor: pointer;}
.windowsCnt {display: flex;justify-content: center;align-items: center;}
.amplification {display:inline-block;width:11px;height:11px;border:1px solid #C8D1DA;
  background: #fff;vertical-align:middle;margin-left:18px;border-radius: 0;}
.navTit{text-align: center;font-size: 16px;color: #939CB2}

.publicWalletH {width: 606px;height: 532px;border-radius: 2px;background: #fff;margin-top: 24px;}
.publicWalletHF {display: flex;flex-direction: column;}
.publicWalletHTit {font-size: 14px;color: #939CB2;}
.publicWalletHList {height: 64px; display: flex;align-items: center;}
.publicWalletHListIcon {margin: 0 30px;}

.mt30 {margin-top: 32px;}
.mt10 {margin-top: 10px;}
.mt50 {margin-top: 55px;}

input::-webkit-input-placeholder{ color:#C8D1DA;}
input::-moz-placeholder{color:#C8D1DA;}
input:-moz-placeholder{color:#C8D1DA;}
input:-ms-input-placeholder{ color:#C8D1DA;}

.publicWalletP {padding: 0 32px;background: #FAFAFA;}


.homeHNav {width: 70px;height:50px;display: flex;background:#00D6B2;justify-content: center;align-items: center;}