html {font-family: "PingFang SC",Arial,sans-serif;font-size: 12px;}
body,ul,p,figure {margin: 0;padding: 0;}
ul li {list-style: none;}

.publicContent {width: 640px;height: 432px;border:1px solid #C8D1DA;}

.TxtColor {color: #00D6B2}
.TxtColor2 {color: #FF8DB2}
.TxtColor3 {color: #657292}

.pointerTxt:hover {cursor: pointer;}

.el-button,.el-input {font-size: 12px;}
.publicBtn {width:184px;height:36px;background: #C8D1DA;color: #fff;outline: none;
  border:1px solid #C8D1DA;border-radius: 4px;}
.publicBtnAcitve {background: #00D6B2;}

.publicCntBtn {display: flex;justify-content: center;}

.publicBtn:hover {cursor: pointer;}

.publicNav {display: flex;height: 48px;align-items: center;box-shadow:0px 1px 1px rgba(96,98,115,0.1);}
.publicHomeNav {display: flex;height: 60px;align-items: center;box-shadow:0px 1px 1px rgba(96,98,115,0.1);}

.icon_nav{font-size: 18px;margin-left: 16px;color:#C8D1DA;}
.icon_nav:hover {cursor: pointer;}
.windowsCnt {display: flex;justify-content: center;align-items: center;}
.amplification {display:inline-block;width:11px;height:11px;border:1px solid #C8D1DA;
  background: #fff;vertical-align:middle;margin-left:18px;border-radius: 0;}
.navTit{text-align: center;font-size: 16px;color: #657292}

.publicWalletH {width: 606px;height: 532px;border-radius: 2px;background: #fff;margin-top: 24px;box-shadow:0px 0px 15px rgba(0,91,76,0.05);}
.publicWalletHF {display: flex;flex-direction: column;box-shadow:0px 0px 15px rgba(0,91,76,0.05);}
.publicWalletHList {height: 48px; display: flex;align-items: center;border-bottom: 1px solid rgba(200,209,218,.5);}
.publicWalletHTit {font-size: 14px;color: #939CB2;flex:1;text-align: center;padding-right: 30px;}
.publicWalletHListIcon {width:30px;height:16px;}


.mt30 {margin-top: 32px;}
.mt10 {margin-top: 10px;}
.mt50 {margin-top: 55px;}


:-moz-placeholder {color: #C8D1DA; opacity:1; }
::-moz-placeholder {color: #C8D1DA;opacity:1;}
input:-ms-input-placeholder,textarea:-ms-input-placeholder {color: #C8D1DA;opacity:1;}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color: #C8D1DA;opacity:1;}


.publicWalletP {padding: 0 32px;background: #FAFAFA;}


.homeHNav {width: 70px;height:60px;display: flex;background:#00D6B2;justify-content: center;align-items: center;}
.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #00D6B2;
  border-color: #00D6B2 transparent #00D6B2 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
